.callout-link {
  @include carbon--type-style('body-long-02');
  margin-top: $spacing-06;
  display: block;
}
.gridmid {
  @include carbon--type-style('body-long-02');
  border-left: 10px solid ;
  border-right: 10px solid blue;
  background-color: "#0043ce" ;
  max-height: 30px;
}
